.u-center-text{                                 /* This is for the center Utility property for H2 text. Remember it was a block display but we changed it to inline meaning that you can move the property or text, box within the same parent block. */
    text-align: center;
}

.u-margin-bottom-big{ margin-bottom: 8rem;}       /* This is to add that extra margin bottom from H2 text and the other text and pic */

.u-margin-bottom-small{ margin-bottom: 1.5rem;} 
.u-margin-bottom-medium{ margin-bottom: 4rem;} 
.u-margin-bottom-big{ margin-bottom: 8rem;} 